@import url("../css/global.css");


.header {
  background-color: var(--black);
}

.header__container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__img {
  width: 173px;
  height: 40px;
}

.header__navigation-list {
  display: flex;
}

.header__navigation-item {
  font-size: 18px;
  font-weight: var(--bold);
}

.header__navigation-item:not(:last-child) {
  margin-right: 96px;
}

.header__navigation-link {
  padding: 2px 6px;
  color: var(--white);
  transition: color 0.3s ease;
}

.header__navigation-link:hover {
  color: var(--voilet);
}

.header__navigation-link:active {
  color: var(--voilet_activ);
}

.header__navigation-link:focus {
  background-color: var(--voilet_activ);
  outline: var(--voilvoilet_activet);
}

.header__search_svg {
  position: relative;
  padding: 2px;
  fill: var(--white);
  transition: fill 0.3s ease-in-out;
}

.header__search_svg:hover {
  fill: var(--voilet);
}

.header__search_svg:active {
  fill: var(--voilet_activ);
}

@media(max-width: 1430px) {
  .header__content {
    position: relative;
    justify-content: center;
  }

  .header_icon-link {
    position: absolute;
    left: 0;

  }

  .header__search {
    position: absolute;
    right: 0;

  }

  .header__navigation {
    padding-top: 98px;
  }
}



