@import url("../css/global.css");


.header {
  background-color: var(--black);
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__img {
  width: 173px;
  height: 40px;
}

.header__navigation-list {
  display: flex;
}

.header__navigation-item {
  margin-right: 96px;
  font-size: 18px;
  font-weight: var(--bold);
}

.header__navigation-link {
  padding: 2px 6px;
  color: var(--white);
  transition: color 0.3s ease;
}

.header__navigation-link:hover {
  color: var(--voilet);
}

.header__navigation-link:active {
  color: var(--voilet_activ);
}

.header__navigation-link:focus {
  background-color: var(--voilet_activ);
  outline: var(--voilvoilet_activet);
}

.header__search {
  position: relative;
  padding: 2px;
  transition: fill 0.3s ease-in-out;
}

.header__search:hover {
  fill: var(--voilet_activ);
}

