# Игнорирование временных файлов
*~
*.swp
*.tmp

# Игнорирование файлов компиляции
*.o
*.out

# Игнорирование файлов настроек IDE
.idea/
.vscode/
.editorconfig/

# Игнорирование файлов с расширением .log
*.log

# Игнорирование директории "build"
/build/

# Игнорирование файлов с конкретными именами
secret.txt
passwords.csv

# Игнорирование директории "node_modules" (для проектов на Node.js)
node_modules/
